@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "~rfs/scss";

//? BGC
// .hero,
// .about,
// .services,
// .clients,
// .testimonials,
// .contacts {
//     border: 2px solid yellow;
// }

// .testimonials-list,
// .contact-section,
// .clients-list,
// .gen-services,
// .erp-services,
// .heading,
// .stats {
//     border: 2px solid red;
// }

//! Global Styles
* {
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.App {
    height: 100vh;

    .fab {
        @include font-size(2rem);
        color: #6c757d;
        transition: all 0.25s ease-out;

        &:hover {
            color: rgb(255, 255, 255);
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

.home,
.leadteam,
.story,
.notFound,
.spinner {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

//* Layout
//! Header Styles
.navbar {
    background-color: rgb(20, 20, 20);

    .navbar-collapse {
        transition: all 0.3s ease-in-out;

        a {
            transition: all 0.25s ease-out;

            &:hover {
                color: #fff;
                transform: scale(1.1);
                text-decoration: overline;
            }
        }
    }

    img {
        width: 10%;
    }

    .heading {
        h3 {
            font-size: calc(1.1vw + 1.1vh);
        }
        span {
            font-size: calc(0.85vw + 0.85vh);
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        * {
            @include font-size(2.3rem);
            margin-bottom: 2rem;
        }
    }
}

//! Footer Styles
.footer {
    height: 15vh;
    background-color: #1b1b1b;

    .copyright {
        h5 {
            font-size: calc(1.3vw + 1.3vh);
        }
        span {
            font-size: calc(0.9vw + 0.9vh);
        }
    }
}

//* Not Found Page Styles
.notFound {
    .errorHeading {
        @include font-size(2rem);
    }
    .oops {
        font-family: "Nerko One", cursive;
        @include font-size(13rem);
        letter-spacing: 0.5rem;
    }
    .backToHomeBtn {
        border-color: #fff;
        border-radius: 2rem;
        padding: 0.6rem 1.1rem;
        color: #fff;
        transition: all 0.2s ease-out;

        &:hover {
            background-color: #fff;
            color: #000;
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

//* Home
.home {
    //! Hero
    .hero {
        margin-bottom: calc(5vw + 5vh);
        margin-top: calc(10vw + 10vh);

        .heading {
            .title {
                @include font-size(3.7rem);
                color: #2fa4f1;
            }
            .subtitle {
                @include font-size(1.4rem);
            }
            .call-to-action {
                border-left: 0.4rem solid #fff;
                button {
                    border: 1px solid #fff;
                    color: #fff;
                    transition: all 0.2s ease-out;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                        transform: scale(1.1);
                    }
                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }

        .stats {
            .box {
                padding: 1rem 0;
                border: 2px solid #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.2s ease-out;
                &:hover {
                    transform: scale(1.1);
                    background-color: #fff;

                    i,
                    h4,
                    small {
                        color: #000;
                    }
                }
            }

            h4 {
                @include font-size(1.4rem);
            }

            small {
                @include font-size(1rem);
            }

            .far,
            .fas {
                @include font-size(3rem);
            }
        }
    }
    //! About
    .about {
        margin: calc(10vw + 10vh) 0;

        .title {
            @include font-size(3.7rem);
        }

        p {
            @include font-size(1.3rem);
        }
    }
    //! Services
    .services {
        margin: calc(10vw + 10vh) 0;

        .title {
            @include font-size(3.7rem);
        }
        .subtitle {
            @include font-size(2rem);
        }

        .gen-services,
        .erp-services {
            .service {
                border: 2px solid #fff;
                padding: 1.5rem;
                transition: all 0.25s ease-out;

                &:hover {
                    background-color: #fff;
                    transform: scale(1.1);

                    h5 {
                        color: #000;
                    }

                    button {
                        border: 1px solid #000;
                        color: #000;
                    }
                }

                h5 {
                    @include font-size(1.3rem);
                }

                img {
                    width: 40%;
                    height: 40%;
                    margin-bottom: 0.5rem;
                }

                button {
                    border: 1px solid #fff;
                    @include font-size(1rem);
                    color: #fff;
                    transition: all 0.2s ease-out;

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
    //! Clients
    .clients {
        margin: calc(10vw + 10vh) 0;

        .title {
            @include font-size(3.7rem);
        }

        .card-flip {
            &:hover {
                .card-front {
                    transform: rotateY(-180deg);
                }
                .card-back {
                    transform: rotateY(0deg);
                }
            }

            div {
                backface-visibility: hidden;
                transition: transform 250ms;
                transition-timing-function: linear;
                width: 100%;
                height: 100%;
                margin: 0;
                display: flex;
            }

            .card-front {
                transform: rotateY(0deg);

                img {
                    width: 85%;
                }
            }

            .card-back {
                transform: rotateY(180deg);
                position: absolute;
                top: 0;

                h4 {
                    @include font-size(1.3rem);
                    color: #000;
                }
            }
        }
    }

    //! Testimonials
    .testimonials {
        margin: calc(10vw + 10vh) 0;

        .title {
            @include font-size(3.7rem);
        }

        .testimonials-list {
            h1 {
                text-align: center;
                font-weight: bold;
                color: #ff9800;
                padding-bottom: 10px;
                text-transform: uppercase;
            }

            .profile {
                border-radius: 2.5rem;
                padding-top: 4.5rem;

                img {
                    top: -60px;
                    position: absolute;
                    left: calc(50% - 3.75rem);
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;
                }

                h3 {
                    @include font-size(1.5rem);
                    color: #2fa4f1;

                    span {
                        @include font-size(1rem);
                    }
                }

                blockquote {
                    @include font-size(0.95rem);
                    line-height: 1.8rem;

                    &::before {
                        content: "\201C";
                        @include font-size(3.125rem);
                        position: relative;
                        line-height: 1.25rem;
                        color: #2fa4f1;
                        bottom: -15px;
                        right: 5px;
                    }

                    &::after {
                        content: "\201C";
                        @include font-size(3.125rem);
                        position: relative;
                        line-height: 0.625rem;
                        color: #2fa4f1;
                        bottom: -15px;
                        left: 5px;
                    }
                }
            }
        }
    }
    //! Contact
    .contacts {
        .title {
            @include font-size(3.7rem);
        }

        .contact-section {
            input,
            textarea {
                border-radius: 0.5rem;
                transition: all 0.2s ease-in-out;
                padding: 1.2rem;

                &:focus {
                    transform: scale(1.04);
                }
            }

            button {
                @include font-size(1rem);
                color: #fff;
                transition: all 0.2s ease-out;

                &:hover {
                    color: #000;
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            .contact-infos {
                border-radius: 1.4rem;
                background-color: #fff;
                height: 100%;

                span,
                a,
                i {
                    @include font-size(0.9rem);
                    color: #000;
                }

                i {
                    @include font-size(1.5rem);
                }
            }
        }
    }
}

//* Lead Team
.leadteam {
    .card {
        border-radius: 2rem;
    }
    .card-container {
        h4,
        .dpt {
            @include font-size(1.25rem);
        }

        span {
            color: #afafaf;
        }

        .jobTitle {
            @include font-size(1.1rem);
        }

        .dpt {
            color: #2fa4f1;
        }

        img {
            width: calc(8vw + 8vh);
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        img {
            width: 13%;
        }

        .heading {
            span {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .navbar {
        img {
            width: 30%;
        }

        .heading {
            h3 {
                display: none;
            }
        }
    }
}

//* Story
.story {
    .story-title {
        font-size: calc(2.7vw + 2.7vh);
    }

    .content {
        img {
            // border: 1px solid #000;

            width: 50%;
            border-radius: 50%;
        }

        h4,
        h5 {
            color: #000;
        }
    }

    .date-class {
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .stupid-date {
        color: #000;
        font-size: 2rem;
    }
}
