@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import "~rfs/scss";

* {
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.header {
    height: 11vh;
    background-color: rgb(82, 3, 3);
}

.home,
.leadteam,
.story,
.notFound {
    height: 80vh;
    // background-color: green;
}

.footer {
    height: 9vh;

    .copyright {
        @include font-size(1rem);
    }

    .social-icons {
        width: 7vw;

        :first-child {
            transition: all 0.25s ease-out;
            &:hover {
                color: #1877f2;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.9);
            }
        }
        :last-child {
            transition: all 0.25s ease-out;
            &:hover {
                color: #0077b5;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.9);
            }
        }

        .fab {
            @include font-size(2rem);
        }
    }
}

.notFound {
    .errorHeading {
        @include font-size(2rem);
    }
    .oops {
        font-family: "Nerko One", cursive;
        @include font-size(13rem);
        letter-spacing: 0.5rem;
    }
    .backToHomeBtn {
        border-color: #fff;
        border-radius: 2rem;
        padding: 0.6rem 1.1rem;
        color: #fff;
        transition: all 0.2s ease-out;

        &:hover {
            border-color: #0275db;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}
